--find-links https://download.pytorch.org/whl/torch 
--find-links https://download.pytorch.org/whl/torchvision
--find-links https://download.pytorch.org/whl/torchaudio

tqdm
numpy==1.26.4
matplotlib
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
tensorboard
hydra-core
pandas
scikit-learn
joblib
seaborn
tbparse
git+https://github.com/sribnyak/mutinfo.git
